.school {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 20px;
  background-color: #1e1e1e;
  min-height: 100vh;
  box-sizing: border-box;
}

.school__card {
  background-color: #006fff;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
  transition: background-color 0.3s ease;
  height: 50rem;
  padding: 1rem;
}

.school__cardImage {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.school__cardContent {
  padding: 20px;
}

.school__cardTitle {
  font-size: 2rem;
  margin-bottom: 10px;
}

.school__cardDescription {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.school__cardButton {
  display: inline-block;
  background-color: #006fff;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-size: 1.3rem;
}

.school__cardButton:hover {
  background-color: #1e1e1e;
}

@media (max-width: 600px) {
  .school__card {
    width: 100%;
    height: auto;
  }

  .school{
    padding: 4rem;
  }
}
